@padding: 1rem;

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body, html, #app {
  height: 100%;
  //background-color: #AAA;
  background-color: #7C7C7C;
}

:root {
  --deg: 0deg;
}
